// Colors

// Primary

$clr-primary-soft-red: hsl(10, 79%, 65%);
$clr-primary-cyan: hsl(186, 34%, 60%);

// Neutral

$clr-neutral-dark-brown: hsl(25, 47%, 15%);
$clr-neutral-medium-brown: hsl(28, 10%, 53%);
$clr-neutral-cream: hsl(27, 66%, 92%);
$clr-neutral-very-pale-orange: hsl(33, 100%, 98%);

// Topography

// Font Family

$ff-dm-sans: 'DM Sans', sans-serif;

// Font Sizes

$fs-base: 1rem;
$fs-heading: 1.8rem;
$fs-amount-balance: 1.7rem;
$fs-day: 0.8rem;
$fs-amount-month: 2.7rem;

// Font Weights

$fw-400: 400;
$fw-700: 700;

// Screen

// Weights

$max-width-body: 1440px;
$min-width-body: 375px;

// Heights

$min-height-screen: 100dvh;

// Displays

$gap-small: 0.5rem;
$gap-general: 1rem;
$gap-normal: 1.5rem;
$gap-medium: 2rem;
$gap-midium-high: 2.5rem;
