// Colors

// Primary

$clr-primary-light-cyan: hsl(193, 38%, 86%);
$clr-primary-neon-green: hsl(150, 100%, 66%);

// Neutral

$clr-neutral-grayish-blue: hsl(217, 19%, 38%);
$clr-neutral-dark-grayish-blue: hsl(217, 19%, 24%);
$clr-neutral-dark-blue: hsl(218, 23%, 16%);

// Topography

// Font Family

$ff-manrope: 'Manrope', sans-serif;

// Font Sizes

$fs-base: 1rem;
$fs-heading1: 0.8rem;
$fs-quote: 1.7rem;

// Font Weights

$fw-800: 800;

// Letter Spacing

$ls-1px: 1px;
$ls-2px: 2px;

// Line Heights

$lh-101: 1.1;

// Screen

// Weights

$max-width-body: 1440px;
$min-width-body: 375px;

// Heights

$min-height-screen: 100dvh;

// Displays

$gap-small: 0.5rem;
$gap-general: 1rem;
$gap-normal: 1.5rem;
$gap-medium: 2rem;
$gap-midium-high: 2.5rem;
